name: notebook
channels:
  - conda-forge

dependencies:
  - gcc_linux-64
  - gxx_linux-64
  - pip
  - pip:
      - transformers==4.46.3
      - openai>=1.0
      - anthropic>=0.8
      - python-dotenv
      - langchain>=0.1
      - sentence-transformers==3.4.1
      - otter-grader==6.1.6
      - huggingface_hub
      - docutils<0.20
